body
{
	background-color:#232323;
	font-family: 'Bellefair', serif;
}
button
{
	text-transform: uppercase;
	color:steelblue;
	border:none;
	background: none;
	font-weight: 700;
	letter-spacing: 1px;
	height: 100%;
	font-size: inherit;
	transition: all 0.3s;
}

button:hover
{
	color:white;
	background-color: #2ECC71;
}
.selected
{
	color:white;
	background-color: #2ECC71;
}
h1
{
	text-transform: uppercase;
	color:white;
	text-align: center;
	background-color: #2ECC71;
	line-height: 1.1;
	padding:20px 0;

}
#container
{
	width:600px;
	margin:0 auto;
}
.box
{
	float:left;
	width:30%;
	border-radius: 10px;
	margin:1.66%;
	padding-bottom: 30%;

}
#dummy
{
	display:none;
}
#top
{
	margin:0;
}
#heading
{
	width:100%;
	height:30px;
	background-color: white;
	color:black;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 0;
}
#colorcode
{
	font-size: 2em;

}
#message
{
	display: inline-block;
	width:20%;
	font-size: 1.25em;
	color:#D35400;
}
